*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------ */
/* Styling for header part */
/* ------------------------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #f8f8f8;
}

li, a, button{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2B2B2B;
}

.logo {
    cursor: pointer;
    width: 125px;
}

nav li {
    list-style: none;
    display: inline-block;
}


nav li:nth-child(1) a{
    background-color: #FFCD02;
    padding: 0px 5px;
}

nav li a {
    margin: 0px 20px;
    transition: all 0.5s ease 0s;
}

nav li a:hover {
    text-shadow: 2.25px 2.25px #FFCD02;
    opacity: 0.85;
}

.login {
    border: 2px solid #2B2B2B;
    padding: 0px 7px 3px;
    transition: all 0.5s ease 0s;
}

.login:hover {
    background-color: #FFCD02;
    border: 2px solid #FFCD02;
    opacity: 0.85;
}

/* ------------------------------ */
/* Styling for frist section part */
/* ------------------------------ */

.section-one {
    background-color: #FFFFFF;
    position: relative;
}

.content-one-a{

}

.content-one-bg {
    margin: 50px 50px 75px;
    height: 550px;
    background-image: url("../../media/Home/background-one-a.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.9;
}

.content-one-text {
    color: #FFFFFF;
    position: absolute;
    top: 100px;
    left: 150px;

    animation-name: heading-slide-a;
    animation-duration: 3s;
}

@keyframes heading-slide-a {
    0% {
        margin-left: -250px;
        opacity: 0;
    }

    40% {
        margin-left: 0px;
        opacity: 0.75;
    }

    60%{
        opacity: 0.90;
    }

    100% {
        margin-left: 0px;
        opacity: 1;
    }
}


.content-one-heading-a{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 50px;
}


.content-one-heading-b{
    margin-top: -15px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.content-one-desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin-top: 20px;
}

.content-one-button {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;
    border: 2px solid #FFFFFF;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
}

.content-one-button:hover{
    opacity: 0.9;
}

.content-one-b {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 570px;
    left: 50px;
}

#animated-text {
    display: inline-block;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    animation-name: slide-in;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#animated-text:hover {
    text-shadow: 2px 2px #FFCD02;
}

@keyframes slide-in {
    0% {
        margin-left: 750px;
        opacity: 0;
    }

    15% {
        margin-left: 0px;
    }

    50% {
        margin-left: 0px;
        opacity: 1;
    }

    90% {
        margin-left: 0px;
        opacity: 1;
    }

    100% {
        
    }
}

/* ------------------------------ */
/* styling of second-section part */
/* ------------------------------ */

.section-two {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 22px;
    background-color: #f8f8f8;
    height: 900px;
}

.content-two {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-top: 50px;
    height: 800px;
}

.content-two-a, .content-two-b{
    display: grid;
    grid-template-rows: auto auto auto;
}

.content-two-a-heading, .content-two-b-heading {
    cursor: pointer;
    padding-bottom: 50px;
}

.content-two-a-heading:hover .content-two-b-heading:hover{
    text-shadow: 2px 2px #FFCD02;
}

.content-two-a-news1, .content-two-a-news2, .content-two-b-news1, .content-two-b-news2{
    height: 300px;
}

.content-two-a-news1-image, .content-two-a-news2-image, .content-two-b-news1-image, .content-two-b-news2-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 400px;
}

.content-two-a-news1-image {
    background-image: url(../../media/News/news01.jpg);
}

.content-two-a-news2-image {
    background-image: url(../../media/News/news02.jpg);
}

.content-two-b-news1-image {
    background-image: url(../../media/News/news03.jpg);
}

.content-two-b-news2-image {
    background-image: url(../../media/News/news04.jpg);
}


.content-two-a-news1-text, .content-two-a-news2-text, .content-two-b-news1-text, .content-two-b-news2-text {
    width: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

.content-two-a-news1-date, .content-two-a-news2-date, .content-two-b-news1-date, .content-two-b-news2-date{
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    color: #FFCD02;
}

.a-news1-day, .a-news2-day, .b-news1-day, .b-news2-day{
    grid-row: 1 /span 2;
    font-size: 60px;
}

.a-news1-month, .a-news2-month, .b-news1-month, .b-news2-month{
    padding-top: 15px;
}

.a-news1-year, .a-news2-year, .b-news1-year, .b-news2-year{
    padding-bottom: 40px;
}

.content-two-a-news1-heading, .content-two-a-news2-heading, .content-two-b-news1-heading, .content-two-b-news2-heading {
    cursor: pointer;
    text-transform: uppercase;
    grid-column-start: 2;
    grid-column-end: 4;
    padding-top: 15px;
}

.content-two-a-news1-heading:hover, .content-two-a-news2-heading:hover, .content-two-b-news1-heading:hover, .content-two-b-news2-heading:hover{
    text-shadow: 2px 2px #FFCD02;
}

.content-two-c {

}

.content-two-c-heading {
    cursor: pointer;
    padding-bottom: 60px;
}

.content-two-c-title {
    font-size: 35px;
    font-weight: 700;
    width: 300px;
}

.content-two-c-game {
    opacity: 0.6;
    font-size: 16px;
}

.content-two-c-image {
    background-image: url(../../media/News/news06.jpg);
}

.content-two-c-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 400px;
}

.content-two-c-time {
    border-style: solid solid dashed;
    border-width: 0.25px;
    background-color: #FFFFFF;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
}

.content-two-c-extras {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
    padding-top: 10px;
}

/* SECTION THIRD */
/* TOP PLAYERS SECTION */

.section-three {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    background-color: #2B2B2B;
    color: #FFFFFF;
    height: 600px;
}

.content-three {
    padding: 50px;
}

.content-three-heading {
    font-size: 50px;
    font-weight: 700;
}

.content-three-details {
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.content-three-a {
    height: 300px;
}

.content-three-image-a {
    background-image: url(../../media/Players/players01.jpg);
}

.content-three-image-b {
    background-image: url(../../media/Players/players02.jpg);
}

.content-three-image-c {
    background-image: url(../../media/Players/players03.jpg);
}

.content-three-image-d {
    background-image: url(../../media/Players/players04.jpeg);
}

.content-three-image-a, .content-three-image-b, .content-three-image-c, .content-three-image-d {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    cursor: pointer;
}

.content-three-image-a:hover, .content-three-image-b:hover, .content-three-image-c:hover, .content-three-image-d:hover{
    opacity: 0.75;
}

.content-three-name-a, .content-three-name-b, .content-three-name-c, .content-three-name-d {
    display: grid;
    grid-template-columns: auto auto;
}

.name-a, .name-b, .name-c, .name-d {
    background-color: #FFFFFF;
    color: #2B2B2B;
    text-align: center;
    font-size: 22px;
    font-weight: 900px;
}

.type-a, .type-b, .type-c, .type-d  {
    margin-left: 20px;
    font-size: 10px;
    color: #FFCD02;
    text-align: center;
    
}

.score-a, .score-b, .score-c, .score-d {
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    color: #FFCD02;
}

/* 
    SECTION FOUR:
    GALLERY SECTION:
*/