*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------ */
/* Styling for header part */
/* ------------------------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #F8F8F8;
}

li, a, button{
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2B2B2B;
}

.logo {
    cursor: pointer;
    width: 125px;
}

nav li {
    list-style: none;
    display: inline-block;
}


nav li a {
    margin: 0px 20px;
    transition: all 0.5s ease 0s;
}

nav li a:hover {
    text-shadow: 2.25px 2.25px #FFCD02;
    opacity: 0.85;
}

.login {
    background-color: #FFCD02;
    border: 2px solid #FFCD02;
    padding: 0px 7px 3px;
    transition: all 0.5s ease 0s;
}

.login:hover {
    background-color: #F8F8F8;
    border: 2px solid #2B2B2B;
    opacity: 0.85;
}

/* Section part */
/* contains form styling */

.section-login {
    width: 100%;
    height: 650px;
    background-color: #FFFFFF;
}

.login-container {
    width: 400px;
    height: 450px;
    background-color: #F8F8F8;
    margin: 100px 50%;
    transform: translate(-50%, 0%);
}

.login-box {
    width: 350px;
}

.login-image {
    background-image: url(../../media/login.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 75px;
    height: 75px;
    margin-left: 50%;
    transform: translate(-25%, -65%);
    cursor: pointer;
}

.login-container h1 {
    color: #2B2B2B;
    margin-left: 50%;
    margin-bottom: 20px;
    transform: translate(-25%, -50%);
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.form {
    margin-left: 25px;
}

.login-container label{
    color: #2B2B2B;
    font-family: "Open sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.login-container input{
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.login-container input[type="text"] , .login-container input[type="password"]{
    border: none;
    border-bottom: 1px solid #2B2B2B;
    background: transparent;
    outline: none;
    height: 40px;
    color: #2B2B2B;
    font-size: 16px;
}

.login-container input[type="submit"]{
    border: none;
    border-radius: 20px;
    outline: none;
    height: 40px;
    background-color:  #FFCD02;
    color: #2B2B2B;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    margin-top: 20px;
}

.login-container input[type="submit"]:hover{
    background-color: #2B2B2B;
    color: #F8F8F8;
}

.form-control small{
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
    color: #e74c3c;
}

.form-control.success small{
    visibility: hidden;
}

/* FOOTER SECTION */
/* ABOUT US, LINKS & CONTACT US; */

.footer-container {
    background-color: #2B2B2B;
    color: #f8f8f8;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
    height: 375px;
}

.footer-about-us {
    font-family: "Oswald", sans-serif;
    opacity: 0.5;
}

.about-us-heading {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 25px;
}

.about-us-info {
    font-size: 18px;
    font-weight: 500;
}

.about-us-logo {
    background-image: url("../../media/logo-BW.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    opacity: 0.75;
    cursor: pointer;
}

.footer-send-msg {
    font-family: "Oswald", sans-serif;
    opacity: 0.5;
}

.footer-send-msg-heading {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 25px;
}
}

.footer-send-msg-form {

}

.label-email {

}

.label-comments {
    position: absolute;
    padding-top: 20px;
}

#footer-email {
    font-family: "Open-sans", sans-serif;
    margin-left: 46px;
    padding: 3px 10px;
    transition: all 0.5s;
    outline: none;
}

#footer-comments {
    font-family: "Open-sans", sans-serif;
    padding: 3px 10px;
    margin-left: 90px;
    margin-top: 20px;
    transition: all 0.5s;
    outline: none;
}

#footer-submit-btn {
    border: 2px solid #2B2B2B;
    border-radius: 5px;
    padding: 5px;
    margin-left: 200px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}

#submit-btn:hover {
    background-color: #2B2B2B;
    color: #f8f8f8;
    border: 2px solid #f8f8f8;
}


.footer-contact {
    font-family: "Oswald", sans-serif;
    opacity: 0.5;
}

.footer-contact-heading {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer-contact div {
    padding-bottom: 20px;
}