/* Styling for sidebar */

.sidebar-container ul li:nth-child(4) {
    background-color: #FFCD02;
}


/* Styling for teams-panel-table */

.teams-panel-table {
    margin-left: 325px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.teams-panel-table h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.teams-panel-table table {
    border-collapse: collapse;
    width: 1000px;
}

.teams-panel-table th {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 3;
    background-color: #2b2b2b;
    color: #f8f8f8;
    border-bottom: 5px solid #FFCD02;
}

.teams-panel-table th:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

.teams-panel-table tr:nth-child(even) {
    background-color: #f8f8f8;
}

.teams-panel-table td {
    font-family: 'Opensans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 2.5;
    text-align: center;
}

.teams-panel-table td:nth-child(1) {
    text-align: left;
    padding-left: 10px;
}

.teams-panel-table td a {
    color: #2b2b2b;
    text-decoration: none;
}

.teams-panel-table td a:hover {
    text-decoration: underline;
}

.teams-panel-table .add-link {
    margin-top: 25px;
}

.add-link a {
    color: #2b2b2b;
    text-decoration: none;
    font-family: 'Opensans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 7.5px 20px;
    border-radius: 20px;
    background-color: #FFCD02;
    transition: 0.5s;
}

.add-link a:hover {
    color: #f8f8f8;
    background-color: #2b2b2b;
}


/* Styling for news-panel-form */

.teams-panel-form {
    margin-left: 325px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.teams-panel-form h1,
.teams-panel-form h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.teams-panel-form h1 {
    font-size: 30px;
}

.teams-panel-form h3 {
    font-size: 20px;
}

.teams-panel-form ul {
    margin-bottom: 50px;
}

.teams-panel-form li {
    list-style: none;
    margin-bottom: 10px;
}

.teams-panel-form li a {
    display: inline-block;
    color: #2b2b2b;
    background-color: #FFCD02;
    text-decoration: none;
    font-family: 'Opensans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 7.5px 20px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.teams-panel-form li a:hover {
    color: #f8f8f8;
    background-color: #2b2b2b;
}

.teams-panel-form form div {
    margin-top: 20px
}

.teams-panel-form form div label {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.teams-panel-form div .numbers {
    font-family: 'Opensans', sans-serif;
    font-weight: 700;
    text-align: justify;
}

.teams-panel-form form div #teamgender,
.teams-panel-form form div #teamname,
.teams-panel-form form div #teamfaculty,
.teams-panel-form form div #grouped,
.teams-panel-form form div .playersname,
.teams-panel-form form div .positions,
.teams-panel-form form div .jerseynumbers {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    padding: 5px;
    cursor: pointer;
}

.teams-panel-form form div #teamgender,
.teams-panel-form form div #teamfaculty,
.teams-panel-form form div #grouped,
.teams-panel-form form div .positions,
.teams-panel-form form div .jerseynumbers {
    margin-left: 5px;
}

.teams-panel-form form div #submit-btn {
    color: #2b2b2b;
    text-decoration: none;
    border: none;
    font-family: 'Opensans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 7.5px 20px;
    border-radius: 20px;
    background-color: #FFCD02;
    transition: 0.5s;
    cursor: pointer;
}

.teams-panel-form form div #submit-btn:hover {
    color: #f8f8f8;
    background-color: #2b2b2b;
}

.teams-panel-form div {
    margin-top: 15px;
}

.teams-panel-form div a {
    color: #2b2b2b;
    text-decoration: none;
    font-family: 'Opensans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 7.5px 20px;
    border-radius: 20px;
    background-color: #FFCD02;
    transition: 0.5s;
}

.teams-panel-form div a:hover {
    color: #f8f8f8;
    background-color: #2b2b2b;
}