/* styling for footer section */

.footer-container {
    background-color: #2B2B2B;
    color: #f8f8f8;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    grid-gap: 25rem;
    height: 37.5rem;
    justify-content: center;
    align-content: center;
}


/* styling for about-us part*/

.footer-about-us {
    font-family: "Oswald", sans-serif;
    opacity: 0.5;
}

.about-us-heading {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2.5rem;
}

.footer-about-us .about-us-info {
    font-size: 1rem;
    font-weight: 500;
}

.about-us-logo {
    background-image: url("../../media/logo-BW.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15rem;
    height: 15rem;
    opacity: 0.75;
    cursor: pointer;
}


/* styling for send-feedback part */

.footer-send-msg {
    font-family: "Oswald", sans-serif;
    opacity: 0.5;
}

.footer-send-msg-heading {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2.5rem;
}

.label-email {
    font-size: 1.5rem;
}

.label-comments {
    font-size: 1.5rem;
    padding-top: 2rem;
}

#footer-email {
    font-family: "Open-sans", sans-serif;
    margin-left: 5rem;
    padding: 0.3rem 1rem;
    outline: none;
}

#footer-comments {
    font-family: "Open-sans", sans-serif;
    padding: 0.3rem 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
    transition: all 0.5s;
    outline: none;
}

#footer-submit-btn {
    border: 0.2rem solid #2B2B2B;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 20rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 1.4rem;
    font-weight: 500;
    outline: none;
}

#footer-submit-btn:hover {
    background-color: #2B2B2B;
    color: #f8f8f8;
    border: 0.2rem solid #f8f8f8;
}


/* styling for contact-us part */

.footer-contact {
    font-family: "Oswald", sans-serif;
    opacity: 0.5;
}

.footer-contact-heading {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.footer-contact-info {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}