/* setting root element size */

html {
    /* 62.5% ==> 10px */
    font-size: 62.5%;
}


/* styling for header and nav-bar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #f8f8f8;
}

header li,
header a,
header button {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #2B2B2B;
}

.logo {
    cursor: pointer;
    width: 12.5rem;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    margin: 0rem 2rem;
    transition: all 0.5s ease 0s;
}

nav li a:hover {
    text-shadow: 0.225rem 0.225rem #FFCD02;
    opacity: 0.85;
}

.login {
    border: 0.2rem solid #2B2B2B;
    padding: 0rem 0.7rem 0.3rem;
    transition: all 0.5s ease 0s;
}

.login:hover {
    background-color: #FFCD02;
    border: 0.2rem solid #FFCD02;
    opacity: 0.85;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 45%;
    }
}

@media only screen and (max-width: 720px) {
    html {
        font-size: 37.5%;
    }
}

@media only screen and (max-width: 630px) {
    html {
        font-size: 30%;
    }
}