* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* styling for header */

nav li:nth-child(1) a {
    background-color: #FFCD02;
    padding: 0px 5px;
}


/* Styling for first-section */

.section-one {
    background-color: #FFFFFF;
    position: relative;
}


/* styling for background-theme */

.content-one-bg {
    margin: 50px 50px 75px;
    height: 71.5vh;
    background-image: url("../../media/index/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.9;
}


/* styling for background-text */

.content-one-text {
    color: #FFFFFF;
    position: absolute;
    top: 100px;
    left: 150px;
    transition: all 0.5s ease 0s;
    animation-name: heading-slide-a;
    animation-duration: 3s;
}


/* animating background-text */

@keyframes heading-slide-a {
    0% {
        margin-left: -250px;
        opacity: 0;
    }
    40% {
        margin-left: 0px;
        opacity: 0.75;
    }
    60% {
        opacity: 0.90;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

.content-one-heading-a {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
}

.content-one-heading-b {
    margin-top: -15px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
}

.content-one-desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin-top: 20px;
    text-transform: capitalize;
}

.content-one-button {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;
    border: 2px solid #FFFFFF;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.8s;
}

.content-one-button a {
    text-decoration: none;
    color: #f8f8f8;
}

.content-one-button a:hover {
    font-size: 15.5px;
    opacity: 0.7;
}

.content-one-b {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 570px;
    left: 50px;
}

#animated-text {
    display: inline-block;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    animation-name: slide-in;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


/* animating  marquee(more like slide in and slide out effect) */

#animated-text:hover {
    text-shadow: 2px 2px #FFCD02;
}

@keyframes slide-in {
    0% {
        margin-left: 750px;
        opacity: 0;
    }
    15% {
        margin-left: 0px;
    }
    50% {
        margin-left: 0px;
        opacity: 1;
    }
    90% {
        margin-left: 0px;
        opacity: 1;
    }
    100% {}
}


/* styling of second-section */

.section-two {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 22px;
    background-color: #f8f8f8;
    height: 900px;
}

.content-two {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-top: 50px;
    height: 800px;
}


/* styling for latest-news and top-news */

.content-two-a,
.content-two-b {
    display: grid;
    grid-template-rows: auto auto auto;
}

.content-heading {
    cursor: pointer;
    padding-bottom: 50px;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
}

.content-heading:hover {
    text-shadow: 2px 2px #FFCD02;
}

.content-news {
    height: 300px;
}

.news-image {
    height: 200px;
    width: 400px;
}

.news-image img {
    height: 200px;
    width: 400px;
}

.news-text {
    width: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}

.news-date {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    color: #FFCD02;
}

.news-day {
    grid-row: 1 /span 2;
    font-size: 60px;
}

.news-month {
    padding-top: 15px;
}

.news-year {
    padding-bottom: 40px;
}

.news-heading {
    cursor: pointer;
    text-transform: uppercase;
    grid-column-start: 2;
    grid-column-end: 4;
    padding-top: 15px;
    transition: all 0.5s ease 0s;
}

.news-heading a {
    text-decoration: none;
    color: #2B2B2B;
}

.news-heading a:hover {
    text-shadow: 2px 2px #FFCD02;
}


/* styling for upcoming-events part */

.content-two-c-heading {
    cursor: pointer;
    padding-bottom: 60px;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
}

.content-two-a-heading:hover,
.content-two-b-heading:hover,
.content-two-c-heading:hover {
    text-shadow: 2px 2px #FFCD02;
}

.content-two-c-title {
    font-size: 32px;
    font-weight: 700;
    width: 300px;
    text-transform: uppercase;
    cursor: pointer;
}

.content-two-c-title:hover {
    text-shadow: 2px 2px #FFCD02;
}

.content-two-c-game {
    opacity: 0.6;
    font-size: 16px;
    text-transform: uppercase;
}

.content-two-c-image {
    height: 200px;
    width: 400px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.content-two-c-image img {
    height: 200px;
    width: 400px;
}

.content-two-c-image img:hover {
    opacity: 0.9;
}

.content-two-c-time {
    border-style: solid solid dashed;
    border-width: 0.25px;
    background-color: #FFFFFF;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
}

.content-two-c-extras {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
    text-align: center;
    border: 1px dotted #2B2B2B;
    margin-top: 20px;
    color: #2B2B2B;
}

.content-two-c-extras a {
    text-decoration: none;
    color: #2B2B2B;
}

.content-two-c-extras:hover {
    opacity: 0.8;
}


/* styling for section-three: top players */

.section-three {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    background-color: #2B2B2B;
    color: #FFFFFF;
    height: 600px;
}

.content-three {
    padding: 50px;
}

.content-three-heading {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.content-three-details {
    padding-top: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, auto);
}

.player-box {
    height: 300px;
}

.player-image {
    height: 250px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.player-image img {
    width: 347.5px;
    height: 250px;
}

.player-box:hover {
    opacity: 0.75;
}


/* styling for name and total-score */

.player-details-box {
    margin-top: 2px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 85% 15%;
    background-color: #f8f8f8;
}

.player-info {
    text-align: center;
    transform: translateX(10%);
}

.player-name {
    font-size: 25px;
    text-transform: capitalize;
    color: #2B2B2B;
}

.player-sports {
    color: #FFCD02;
    text-transform: capitalize;
}

.player-score {
    text-align: center;
}

.score-num {
    color: #2B2B2B;
    font-size: 25px;
}

.score-unit {
    color: #FFCD02;
}


/* styling for section-four: gallery and leaderboard */

.section-four {
    background-color: #f8f8f8;
    font-family: "Oswald", sans-serif;
    height: 650px;
}

.content-four {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
    padding-left: 50px;
}


/* styling for gallery-section */

.content-four-a {
    width: 650px;
}

.content-four-a-heading {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}


/* image-slider */

.content-four-a-slider {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 500%;
    height: 350px;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 650px;
    height: 350px;
}


/* manual navigation */

.manual-navigation {
    position: absolute;
    width: 650px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #f8f8f8;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #f8f8f8;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}


/*  auto-naviagtion */

.auto-navigation {
    position: absolute;
    display: flex;
    width: 650px;
    justify-content: center;
    margin-top: 320px;
}

.auto-navigation div {
    border: 2px solid #f8f8f8;
    padding: 4px;
    border-radius: 10px;
    transition: 1s;
}

.auto-navigation div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.auto-navigation .auto-btn1 {
    background-color: #f8f8f8;
}

#radio2:checked~.auto-navigation .auto-btn2 {
    background-color: #f8f8f8;
}

#radio3:checked~.auto-navigation .auto-btn3 {
    background-color: #f8f8f8;
}

#radio4:checked~.auto-navigation .auto-btn4 {
    background-color: #f8f8f8;
}

#radio5:checked~.auto-navigation .auto-btn5 {
    background-color: #f8f8f8;
}


/* styling for leaderboard-section */

.content-four-b {
    width: 650px;
}

.content-four-b-heading {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.results-container {
    font-family: 'Oswald', sans-serif;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
}

.results-container th {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #2b2b2b;
    color: #f8f8f8;
    border-bottom: 5px solid #FFCD02;
    vertical-align: middle;
    line-height: 3;
}

.results-container tr {
    line-height: 3;
    color: #2b2b2b;
}

.results-container tr:nth-child(even) {
    background-color: #f8f8f8;
}

.results-container td {
    font-weight: 500;
    font-size: 15px;
    color: #2b2b2b;
    text-transform: capitalize;
    vertical-align: middle;
}

.results-container th:nth-child(1),
.results-container tr td:nth-child(1) {
    text-align: left;
    padding-left: 20px;
}

.results-container th:nth-child(7),
.results-container tr td:nth-child(7) {
    text-align: right;
    padding-right: 20px;
}

.results-container tr td:nth-child(2),
.results-container tr td:nth-child(3),
.results-container tr td:nth-child(4),
.results-container tr td:nth-child(5),
.results-container tr td:nth-child(6) {
    text-align: center;
}

.info-link {
    text-decoration: none;
    color: #2b2b2b;
}

.info-link:hover {
    text-decoration: underline;
}