* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* styling for header */

nav li:nth-child(2) a {
    background-color: #FFCD02;
    padding: 0px 5px;
}


/* styling for news */

.section-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.news-container {
    width: 72.5%;
}

.news-container-heading {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 100px;
    word-spacing: 5px;
}

.news-box {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 100px;
}

.news-sub-box {
    display: grid;
    grid-template-columns: auto auto;
}

.news-image img {
    width: 450px;
    height: 250px;
}

.news-text {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 30px;
    height: 250px;
}

.news-date {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: #FFCD02;
    display: grid;
    grid-template-columns: auto auto;
    width: 60px;
    column-gap: 5px;
}

.news-day {
    grid-row: 1 / span 2;
    font-size: 75px;
    padding-left: 20px;
}

.news-month {
    font-size: 20px;
    padding-top: 25px;
}

.news-year {
    font-size: 20px;
    padding-bottom: 50px;
}

.news-heading {
    grid-column: 2 / span 2;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
    padding-top: 20px;
}

.news-heading a {
    text-decoration: none;
    color: #2B2B2B;
}

.news-heading a:hover {
    text-shadow: 2px 2px #FFCD02;
}

.news-desc {
    grid-column: 1 / span 3;
    font-family: "Open sans", sans-serif;
    padding-bottom: 20px;
    height: 90px;
    overflow: hidden;
}

.news-link a {
    font-family: "Open sans", sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.news-link a:hover {
    color: #2B2B2B;
    text-decoration: underline;
}

.more-news {
    margin-top: 50px;
}

.more-news a {
    font-family: "Open sans", sans-serif;
    text-decoration: none;
    margin-left: 50%;
    transition: 0.5s;
}

.more-news a:hover {
    color: #2B2B2B;
    text-decoration: underline;
}